<!DOCTYPE html>
<html>
<head>
  <title>Charles Internship Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> <!-- Here am colling thge style sheet file, so this file will call all my other pages of css-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  <!-- THIS links to my js fil-->
</head>
<body>
	<div class = "container well">
<!-- what ever goes herer is seen in all the pages in the website -->
<div class = "nav">
	<ul class = "nav nav-tabs navbar-inverse navbar-top-fixed">
		<li class = "<%= 'active' if current_page?(interns_about_path)%>">
			<%= link_to("About",interns_about_path)%></li>
		<li class = "<%= 'active' if current_page?(interns_help_path)%>"><%= link_to("Help", interns_help_path)%></li>
		<li class = "<%= 'active' if current_page?(root_path)%>"><%= link_to("Home", root_path)%></li>
   </ul>
</div>
<%= yield %>
</div>
</body>
</html>
